<ion-header [translucent]="true">
  <ion-toolbar>

    <ion-buttons slot="start">
        <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>

    <ion-title>
        <ion-icon name="medkit-outline" class="ion-margin-end"></ion-icon>
        Registrar Nuevo Medicamento
    </ion-title>
    
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <form [formGroup]="medicamentoForm" (ngSubmit)="submitMedicamento()">

        <ion-item lines="full">
            <ion-label position="floating">Nombre Comercial/Genérico</ion-label>
            <ion-input formControlName="nombre"></ion-input>
        </ion-item>
        <ion-item lines="full" class="ion-margin-top">
            <ion-label position="floating">Dosis (mg)</ion-label>
            <ion-input type="number" formControlName="dosisMg"></ion-input>
        </ion-item>
        
        <div *ngIf="medicamentoForm.get('dosisMg')?.invalid && (medicamentoForm.get('dosisMg')?.dirty || medicamentoForm.get('dosisMg')?.touched)">
            <ion-text color="danger">
                <p class="ion-padding-start ion-no-margin" *ngIf="medicamentoForm.get('dosisMg')?.errors?.['required']">
                    ⚠️ La dosis es obligatoria.
                </p>
                <p class="ion-padding-start ion-no-margin" *ngIf="medicamentoForm.get('dosisMg')?.errors?.['min']">
                    ⚠️ La dosis debe ser superior a 0 mg.
                </p>
            </ion-text>
        </div>

        <ion-item lines="full" class="ion-margin-top">
            <ion-label>Tipo de Medicamento</ion-label>
            <ion-select formControlName="tipo" placeholder="Seleccione el tipo">
                <ion-select-option *ngFor="let tipo of tiposMedicamento" [value]="tipo">
                    {{ tipo }}
                </ion-select-option>
            </ion-select>
        </ion-item>

        <ion-item lines="full" class="ion-margin-top">
            <ion-toggle formControlName="usoDelicado">Uso Delicado / Controlado</ion-toggle>
        </ion-item>
        
        <ion-note class="ion-padding-start">
            El medicamento requiere supervisión especial.
        </ion-note>
        
        <ion-button expand="full" type="submit" [disabled]="medicamentoForm.invalid" class="ion-margin-top">
            <ion-icon slot="start" name="save-outline"></ion-icon>
            Registrar Medicamento
        </ion-button>
    </form>
</ion-content>