<ion-header [translucent]="true">
  <ion-toolbar>
    
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>

    <ion-title>👥 Listado de Pacientes</ion-title>

  </ion-toolbar> <ion-toolbar>
    <ion-searchbar placeholder="Buscar paciente por nombre o RUT"></ion-searchbar>
  </ion-toolbar>
</ion-header>
<ion-content>

  <ion-list *ngIf="pacientes.length > 0; else noPacientes">
    
    <ion-item *ngFor="let p of pacientes" detail [routerLink]="['/detalle', p.id]">
      
      <ion-icon slot="start" name="person-circle-outline" [color]="p.turno === 'Mañana' ? 'success' : p.turno === 'Tarde' ? 'warning' : 'dark'"></ion-icon>
      
      <ion-label>
        <h2>{{ p.nombre }}</h2>
        <p>RUT: {{ p.rut }} | Piso: **{{ p.piso }}**</p>
        <p>Turno Asignado: **{{ p.turno }}**</p>
      </ion-label>

      <ion-buttons slot="end">
        
        <ion-button [routerLink]="['/detalle', p.id]">
          <ion-icon slot="icon-only" name="create-outline" color="medium"></ion-icon>
        </ion-button>

        <ion-button color="danger" (click)="confirmarEliminacion(p.id, $event)">
          <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
        </ion-button>
      </ion-buttons>

    </ion-item>
  </ion-list>

  <ng-template #noPacientes>
    <ion-item>
      <ion-label class="ion-text-center">No hay pacientes registrados.</ion-label>
    </ion-item>
  </ng-template>

</ion-content>